body{
  padding: 0 0;
    margin: 0 0;
    background color:white;
}
.box-1{
  width:100%;
  height:90px;
  background-color:white ;
  position:fixed;
  z-index:3;
}
header{
    
  width:100%;
  height:90px;
  background-color:;
  z-index:3;
}
.inner-header{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  border-bottom:solid;
}
.soul-box{
  font-family: mistral,sans-serif;
  font-size:50px;
  font-weight: bolder;
    height:100%;
    width:130px;
}
.soul{
  position:relative;
  left:30px;
  top:20px;
}
.menu{
  height:100%;
  width:900px;
  background-color:;
  position:relative;
}
.search-box{
  height:100%;
  width:400px;
    background-color:;
}
form {
  position: relative;
  top:40px;
  left:200px;
  margin: 0 auto;
}
input, button {
  border-color:black;
  outline: none;
  border-radius: 8px;
}
.menu ul
{   
  display:inline-flex;
  list-style:none;
  color:black
  margin:0;
  padding:0;
}
.menu ul li{
  width:90px;
  margin:13px;
  padding:13px;
  font-size:15px;
  font-family:tahoma,sans-serif;
}
.menu ul li a{
  text-decoration:none;
  color:black;
}
.active, .menu ul li:hover
{
   background:skyblue;
   box-shadow:0 0 10px grey;
   padding:11px;
   border-radius:3px;
}
.sub-menu-first{
  display:none;
}
.menu ul li:hover .sub-menu-first
{
  display:block;
  position:absolute;
  background:pink;
  margin-top:15px;
  margin-left:-15px;
}
.menu ul li:hover .sub-menu-first ul{
  display:block;
  margin:10px;
}
.menu ul li:hover .sub-menu-first ul li{
  width:150px;
  padding:10px;
  border-bottom: 1px dotted white;
  background:transparent;
  border-radius:0;
  text-align:left;
}
.menu ul li:hover .sub-menu-first ul li:last-child{
  border-bottom:none;
  }
.menu ul li:hover .sub-menu-first ul li a:hover
{
  color:white;
}
.content{
  width:100%;
  height:700px;
  display:flex;
  flex-direction: row;
  
}
.side-bar{
  
    background-color:lightblue;
    height:100%;
    width:18%;
}
.inner-bar{
  position:fixed;
    background-color:lightsteelblue;
    height:100%;
    width:18%;
   
    z-index:2;
}
.bar-1{
  width:100%;
  height:50%;
  
}
.bar-2{
  width:100%;
  height:50%;
  background-color: ;
}
.main{
  height:100%;
  width:82%;

}
.disney{
  width:100%;
  height:10%;
  text-align:center;
  font-family: mistral,sans-serif;
  background-color:;
  font-size:50px;
  font-weight: bold;
}
.disney-content{
  width:100%;
  height:90%;
  background: url(https://cdn.igromania.ru/mnt/news/5/2/8/3/6/c/87932/html/more/71f93625394cdb2a_original.jpg);
  background-size:100% 700px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.disney-item{
    margin: 15px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
img{
  width:170px;
  height:220px;
  
  transition-duration: 0.4s;
}
img:hover{
  height:240px;
  width:190px;
  opacity:0.7;
}
.title{
  color: black;
    font-family: sans-serif,Geneva;
    font-size: medium;
    text-align:center;
}
.countries{
  position:relative;
  top:5px;
  left:50px;
  font-style:sans-serif;
  font-size:28px;
}
.year{
  position:relative;
  top:15px;
  left:67px;
  font-style:sans-serif;
  font-size:28px;
}
ul{
  list-style: none;
}
.text{

  position:relative;
  font-size:20px;
  top:10px;
  left:30px;
                                                                                                                                                                                     
}
.welcome{
  position:relative;
  width:450px;
  text-align:center;
  height:260px;
  left:260px;
  top:250px;
  background-color:lightsteelblue;
  border-style:;
  border-radius:10px;
}
.welcome-text{
  
  font-family:mistral,sans-serif;
  font-size:35px;

}
.welcome-text-2{
  
  font-family:geneva;
  font-size:16px;

}
.footer{
  background-color:white;
  width:100%;
  height:180px;
  display:flex;
  flex-direction:column;
}
.for-footer{
  position:relative;
  left:150px;
  width:100%;
  height:60px;
  text-align:center;
  font-family: sans-serif;
  font-size:11px;
}


.for-footer-logo{
  position:relative;
  left:150px;
  width:100%;
  height:70px;
  font-family: mistral,sans-serif;
  font-size:40px;
  font-weight: bolder;
    text-align:center;
}